<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
</head>
<body>
<h1>User Detail</h1>

<div>
    <label>ID: </label>
    <span th:text="${user.id}"></span>
</div>
<div>
    <label>Email: </label>
    <span th:text="${user.email}"></span>
</div>
<div>
    <label>Nickname: </label>
    <span th:text="${user.nickName}"></span>
</div>
<div>
    <label>Phone Number: </label>
    <span th:text="${user.phoneNumber}"></span>
</div>

<div>
    <a th:href="@{/user/edit/{id}(id=${user.id})}">Edit User</a>
</div>
</body>
</html>
